version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: returnguard-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
    container_name: returnguard-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
