@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI";
  background: linear-gradient(270deg, #7f1d1d, #000000, #450a0a);
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
